.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-all;
  margin-bottom: 30px;
}

.myMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-all;
}

.messageText {
  color: #fff;
  background-color: #834bff;
  font-weight: 300;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.messageAuthor {
  color: #8d8d8d;
  font-weight: 300;
  margin-top: 5px;
}
