.userListWrapper {
  padding: 20px 40px;
  background-color: rgb(248, 248, 248);
}

.userList {
  list-style: none;
  width: 200px;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}

.userListItem {
  display: flex;
  align-items: center;
  word-break: break-all;
  font-size: 16px;
  color: grey;
  margin: 20px 0;
  width: 100%;
}

.roomId {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #dddddd;
  }
}
