.userListWrapper {
  padding: 20px 40px;
  background-color: rgb(248, 248, 248);
  position: relative;
  display: flex;
  flex-direction: column;
}

.userList {
  list-style: none;
  width: 100%;
  min-width: 250px;
  max-height: 470px;
  overflow: auto;
  overflow-x: hidden;
}

.userListItem {
  display: flex;
  align-items: center;
  word-break: break-all;
  font-size: 14px;
  color: grey;
  margin: 20px 0;
  width: 100%;
}

.roomId {
  padding-bottom: 10px;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #dddddd;
  }
}

.helloUser {
  display: flex;
  word-break: break-all;
  margin-top: auto;
}

.userName {
  width: 100%;
  position: relative;
  padding-top: 10px;
  color: grey !important;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #dddddd;
  }
}

@import './UserList.media.module.scss';
